force-app/main/default/flows/chose_a_skill_module.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assingn_Skll_to_variable</name>
        <label>Assingn Skll to variable</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ChosenSkill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SkillsPicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_module</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>urlMaker</name>
        <label>urlMaker</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>variableBasica</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachmodulito</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_module</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>SkillsPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Skills__c</picklistField>
        <picklistObject>Module__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>chose a skill module {!$Flow.CurrentDateTime}</interviewLabel>
    <label>chose a skill module</label>
    <loops>
        <name>Each_module</name>
        <label>Each module</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Filter_module</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>urlMaker</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ModuleSkill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Filter_module</name>
        <label>Filter module</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_module</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skills__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChosenSkill</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_a_Skill</name>
        <label>Choose a Skill</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assingn_Skll_to_variable</targetReference>
        </connector>
        <fields>
            <name>Skills</name>
            <choiceReferences>SkillsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Skills</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ModuleSkill</name>
        <label>ModuleSkill</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayModule</name>
            <fieldText>&lt;p&gt;{!variableBasica}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_a_Skill</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>eachmodulito</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;https://projectp5com9-dev-ed.lightning.force.com/lightning/r/Module__c/{!Each_module.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;{!Each_module.Name}&lt;/em&gt;&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Modules</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;a href=&quot;https://projectp5com8-dev-ed.lightning.force.com/lightning/r/Module__c/{!Each_module.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Each_module.Name}&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>ChosenSkill</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>variableBasica</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>variableVacia</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
